:root {
    --columns: 0;
    --rows: 0;
}
body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "filler center filler";
}
#container {
    grid-area: center;
    width: 960px;
    height: 960px;
    display: grid;
    grid-template-columns: repeat(var(--columns),1fr);
    grid-template-rows: repeat(var(--rows),1fr);
}
